body{
    background-image: linear-gradient(pink, yellow, green);
}

h1 {
    box-color: dark grey;
    box-shadow:16px 16px 5px rgb(0, 0, 0);
    border-radius: 15px;
    border-color: black;
    border-width: medium;
    border-style: dotted;
    text-align: center;
}

p {
    box-shadow: 16px 16px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-color: black;
    border-width: medium;
    border-style: dotted;
    text-align: center;
}
img {
    border-style: dotted;
    border-radius: 100px;
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 300px;
    margin: auto;
    text-align: center; /* Center align text */
    font-family: arial;
    border-radius: 5px; /* Rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Style the image */
.card img {
    border-radius: 5px 5px 0 0; /* Rounded corners for top of image */
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* Style the job title */
.title {
    color: grey;
    font-size: 18px;
}

/* Style the button */
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
}

button:hover {
    opacity: 0.7;
}

/* Style the social media links */
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 0 5px;
}
